.env .env.* !.env.example db.sqlite3 data/db.sqlite3 backups/ __pycache__/ *.pyc .venv/ .env .env.* !.env.example *.backup* *.tar.gz app.bak.* data/